* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-evenly;
  background-color: rgb(165, 42, 42);
  width: 500px;
  height: 700px;
  border-radius: 25px;
  box-shadow: 0 0 8px #000;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  color: #ffff;
  font-size: 50px;
  padding-bottom: 30px;
  margin-bottom: 10px;
  border-bottom: 5px solid #000;
}

.input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: 50px;
}

.input input {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border: none;
  outline: 0;
  text-align: center;
}

.input label {
  font: bold 1.5rem Roboto;
}

button {
  width: 300px;
  height: 40px;
  font: bold 1.2rem Roboto;
  background: #000;
  color: rgb(165, 42, 42);
  border-radius: 8px;
  cursor: pointer;
}

.result {
  display: flex;
  margin-top: 20px;
  align-items: center;
  width: 300px;
  height: 150px;
  border-radius: 5px;
  font: 1.5rem Roboto;
  background-color: #000;
  box-shadow: 0 0 10px #000;
  padding: 20px;
  color: rgb(165, 42, 42);

  user-select: none;
}